{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorator": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    }
}